<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="BookDB"
			 connectionString="Server=DESKTOP-SMSDKK5\SQLEXPRESS;
                           Database=BookDB;
                           Trusted_Connection=True;
                           TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>
